Package: restoremysql
Version: 1.2.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Emmanuel Rosas <tu-email@ejemplo.com>
Description: Script interactivo para restauración de bases de datos MySQL con barra de progreso y logs.
Depends: mysql-client, pv
